<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test dcod</title>
    {% load static from staticfiles %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript">
        var root_url = 'http://127.0.0.1:8000';
        function dcod(){
            $(window).load('static/ajax/index.html', function (template) {
                $.ajax({
                    type: 'GET',
                    url: root_url,
                    success: function(){
                        $('#dcod').html(
                                _.template(template)()
                        );
                        $(function () {
                                $(".add")
                                        .click(function () {
                                            add_city();
                                        })
                            });
                            $(function () {
                                $(".show")
                                        .click(function () {
                                            show_statistics();
                                        })
                            })
                    }
                })
            })
        }
        function add_city() {
            $(window).load('static/ajax/dcod_input.html', function (template) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: root_url + '/add',
                    success: function (data, text_status, jq) {
                        var regions = data.regions;
                        $('#dcod').html(
                                _.template(template)({
                                    regions: regions
                                })
                        );
                        $(function (){
                            $(".save_city")
                                    .click(function (){
                                        var region = $('#region').val();
                                        var t_rows = {};
                                        $("tbody tr").each(function(index){
                                            var c = $(this).find("#city").val();
                                            t_rows[c] = $(this).find("#population").val();
                                        });
                                        update_region(t_rows, region);
                                    })
                        });
                        $(function (){
                            var scntDiv = $('#p_scents');
                            var i = $('#p_scents tr').size() + 1;
                            $(".one_more")
                                    .click(function (){
                                        scntDiv.append('<tr><td><input type="text" id="city" placeholder="City" ' +
                                                'required></td> <td><input type="text" id="population" placeholder=' +
                                                '"Population" required></td><td><input type="button" class="rem" ' +
                                                'value="Remove"></td></tr>');
                                        i++;
                                    });
                           $(document).on('click', '.rem', function() {
                               if (i > 2) {
                                   $(this).closest('tr').remove();
                                   i--;
                               }
                           });
                        })
                    }
                })
            })
        }
        function update_region(t_rows, region){
            $.ajax({
                type:'POST',
                contentType: 'application/json',
                url: root_url + '/update_region/',
                data: JSON.stringify({
                    'updated_region':t_rows,
                    'region': region
                    }),
                success: function(data, text_status, jq){
                    add_city()
                }
            })
        }
    </script>
</head>
<body onload="dcod()">
    <div id="dcod">
    </div>
</body>
</html>